/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family:'Segoe UI', Tahoma, sans-serif;
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ******************** */
      /* intro  */
.intro{
  height: 100vh;
  background-color: white;
  color: #0bec47;
  display: grid;
  grid-template:repeat(13,1fr) / repeat(13,1fr) ;
  grid-gap: 8px;
  font-family:'Segoe UI', Tahoma, sans-serif;
  
}

/* ************* line under intro section */
/* .line-bottom{
  width: 90%;
  margin: 0 auto;
  height: 2px;
  background-color: #0bec47;
  grid-row: 14;
  grid-column: 2 /13;
} */
.githubpng{
  margin: 1em;
  margin-top:0.1em;
  
}
.navbar{
  height: 30px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding:0.2em; */
  gap:1em;
  font: normal;
  text-transform: uppercase;
  grid-row:1;
  grid-column: 7;
  margin-top: 0.3em;
  font-family:'Segoe UI', Tahoma, sans-serif;
}
.navbar p{
  color: rgb(89, 224, 89);
  text-shadow:  2px black;
  font-weight: 800;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0.3em 0.9em;
  letter-spacing: 0.7px;
  
  
}
.navbar p:hover{
  border-radius: 5px;
  background: rgb(92, 204, 92);
  color: azure;
}
.intro-hello1{
  font-size: 1rem;
  grid-row: 4;
  grid-column: 4 / 8;
  color: rgb(89, 224, 89);
  /* font-weight: bold; */
  color: green;
  }

.intro-hello2{
  margin-top: -1.08em;
  grid-row: 5;
  grid-column: 4 /12;
}
.intro-p{
  margin-top: -1.5em;
  grid-row: 6 / 8;
  grid-column: 4/12;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: black;
  font-weight: 600;
}
.span-green{
  font-weight: bold;
  color: #0bec47;
  letter-spacing: normal;
}
/* ***************** circles */
.page-i1{
  grid-row: 11;
grid-column: 7/8;
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pipe{
  width: 2px;
  height: 2.5em;
  background-color: lightgreen;
}
.circle {
  height: 50px;
  width: 50px;
  border: 3px solid lightgreen;
  color: #0bec47;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
  font-family:'Segoe UI', Tahoma, sans-serif;
  font-size: 1.2rem;
}
/* .circle:hover{
  background-color: black;
  /* color: black; */
  /* border: green 3px solid; */

/* }  */
.para-page-i1{
  font-size: 1.5rem;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}
/* *** page 2 */
.page-i2{
  grid-row: 12;
grid-column: 7/8;
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para-page-i2{
  font-size: 1.5rem;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #0bec47;
}
/* ****** page 3 */
.page-i3{
  grid-row: 12;
grid-column: 7/8;
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para-page-i3{
  font-size: 1.5rem;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #0bec47;
}
/* **************** middle*/
.middle{
  height:1100px;
  background-color:white;
  display: grid;
  grid-template: repeat(13,1fr) / repeat(13,1fr);
  grid-gap: 8px;
}
.line-about{
  width: 100%;
  height: 3px;
  background-color: #0bec47;
  grid-row: 2;
  grid-column: 2/6;
  margin-top: 1.5em;
}
.middle-h1{
  grid-row: 2;
  grid-column: 7/13;
}
.middle-para{
  grid-row: 3/6;
  grid-column: 3/12;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 1.2em;
}
.span-green{
  font-weight: bold;
  color: #0bec47;
  letter-spacing: normal;
}
.colored{
  font-size: 3rem;
}
.box-middle{
  grid-row: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  
}
.box-middle p{
  margin-top: 0.2em;
  font-weight: 600;
}
.box1{
 grid-row: 6;
 grid-column:3 / 6 ;
}
.box2{
  grid-row: 6;
  grid-column: 8 / 12;
}
.box3{
 grid-row: 7;
 grid-column:3 / 6 ;
}
.box4{
  grid-row: 7;
  grid-column: 8 / 12;
}
.box5{
 grid-row: 8;
 grid-column:3 / 6 ;
}
.box5 p{
  text-align: center;
}
.box6{
  grid-row: 8;
  grid-column: 8 / 12;
}
.respo{
  max-width: 70px;
  height: 70px;
}
/* *********************** scroll things */
.scroll-up{
  position: fixed;
  top: 80%;
  z-index: 2;
  /* padding: 0.4em; */
  width: 50px;
  height: 50px;
  color: black;
  border-radius: 50%;
  font-family:'Segoe UI', Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1em;
  background-color: #0bec47;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-up:hover{
  color:#0bec47;
  background-color:black;
}
.hidden{
  display: none;
}
/* ****************** projects */
.projects{
  margin-top: 2em;
  height: 120vh;
  background-color: white;
  display: grid;
  grid-template:repeat(13,1fr) / repeat(13,1fr) ;
  grid-gap: 8px;
}
.line-about2{
  width: 100%;
  height: 3px;
  background-color: #0bec47;
  grid-row: 2;
  grid-column: 7/13;
  margin-top: 1.5em;
}
.middle-h2{
  grid-row: 2;
  grid-column: 2/6;
}
/* ***************************** Contact Me */
.contact-me{
  height: 120vh;
  display: grid;
  grid-template: repeat(13,1fr) / repeat(13,1fr);
  grid-gap: 8px;
}

.form{
  
  
  background-color:white;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  grid-row: 3;
  grid-column: 2/13;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 1em;
  max-width: 600px;
  /* margin: 0 auto; */
}
/* ****************** media only for contact me */
@media(min-width:800px){
  .intro-p{
    grid-column: 4 / 10;
  }
  .middle-para{
    grid-column: 4 / 10;
  }
  .form{
    grid-row: 4;
    grid-column: 4/11;
  }
}
/* **************************** */
.form h1{
  text-align: center;
  font-size: 1.5rem;
  padding-top:0.4em;
  
}

.form input,
.form textarea{
  width: 85%;
  margin: 10px auto;
  padding:10px 10px;
  display: block;
  font-size: 15px;
  background-color: gainsboro;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}
.form textarea{
  resize: none;
}
.form ::placeholder{
  color: black;
  font-size: 1rem;
  font-weight: 600;
}
.form button{
  width: 80px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: #0bec47;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1em;
  cursor: pointer;
}
.form button:hover{
  color: #0bec47;
 background-color: black;
}
/* *********************** */
.line-about3{
  width: 100%;
  height: 3px;
  background-color: #0bec47;
  grid-row: 2;
  grid-column: 2/6;
  margin-top: 1.5em;
}
.middle-h3{
  grid-row: 2;
  grid-column: 7/13;
}
/* ************* max width */
.intro,
.middle,
.projects,
.contact-me{
  max-width: 1000px;
  margin: 0 auto;
}
/* ************************* */