/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ******************** */
      /* intro  */
.intro{
  height: 100vh;
  background-color: white;
  color: #0bec47;
  display: grid;
  grid-template:repeat(13,1fr) / repeat(13,1fr) ;
  grid-gap: 8px;

}
.githubpng{
  margin: 1em;
  margin-top:0.1em;
}
.navbar{
  height: 30px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding:0.2em; */
  gap:1em;
  font: normal;
  text-transform: uppercase;
  color: black;
  grid-row:1;
  grid-column: 7;
  margin-top: 0.3em;
}
.navbar p{
  text-shadow:  2px black;
  font-weight: bold;
  font-size: smaller;
  cursor: pointer;
  padding:0 0.5em;
}
.navbar p:hover{
  background: gray;
  color: azure;
  border-radius: 5px;
}
.intro-hello1{
  grid-row: 4;
  grid-column: 4 /8;
  }

.intro-hello2{
  margin-top: -1.08em;
  grid-row: 5;
  grid-column: 4 /10;
}
.intro-p{
  margin-top: -2em;

  grid-row: 6 / 8;
  grid-column: 4/12;
}
.page-i1{
  grid-row: 11;
grid-column: 7;
display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pipe1{
  width: 2px;
  height: 2em;
  background-color: lightgreen;
}
.circle1 {
  height: 50px;
  width: 50px;
  border: 1px solid lightgreen;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* **************** */
.middle{
  height: 120vh;
  background-color:#b1f3c3;
}
.outro{
  height: 120vh;
  background-color: black;
}